{% extends 'baseindex.html' %}
{% load static %}
{% block content %}




  <section class="mt-5 pt-5">
    <div class="container py-3"  data-aos="fade-up">
      <div class="row justify-content-center">
        {% for x in menu %}
        <div class="col-sm-12 col-md-6 col-lg-3 pb-4 " style="width: 18rem; margin-right: 10px; margin-bottom: 10px;">
          <div class="card text-center" style="width: 18rem;">
            <div class="card-body">
              <h2 class="card-title">{{ x.restName }}</h2>
              <hr>
              <p class="card-text fw-bold">Type : {{ x.type }} </p>
              <p>Curin :  {{ x.curine }}<br> </p>
              <p>Menu Name : {{ x.menuName }}</p>
              <p class="card-text"> Origin : <span class="card-text fw-bold">{{ x.origin }}</span></p>
              <a href="#" class="btn btn-success">Add to Cart</a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>


  {% endblock %}
  
  </body>
  
  </html>