{% extends 'baseuser.html' %}
{% load static %}
{% block content %}


  <section class="mt-5 pt-5 bg-dark">
    <div class="container py-3 "  data-aos="fade-up">
      <div class="row justify-content-center">
        {% for x in menu %}
        <div class="col-sm-12 col-md-6 col-lg-3 pb-4 " style="width: 18rem; margin-right: 10px; margin-bottom: 10px;">
          <div class="card text-center" style="width: 18rem;">
            <div class="card-body">
              <h2 class="card-title p-3 mb-2 bg-dark text-white rounded">{{ x.menuName }}</h2>
              <hr>
              <h5 class=""><b>- {{ x.restName }} - </b></h5>
              <p class="card-text fw-bold">{{ x.type }} </p>
              <p>Cuisine :  {{ x.cuisine }}<br> </p>
              
              <p class="card-text"> Origin : <span class="card-text fw-bold">{{ x.origin }}</span></p>
              <a href="{% url 'display' x.id %}" class="btn btn-success">View</a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>


  {% endblock %}
  
  
  </body>
  
  </html>